<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Saludos! <%= @product.store.name %></h1> <br>
   
    <p> Esta es una copia de la orden de compra del cliente cuyo nombre es:<%=@user.name%> y su email es <%= @user.email%>, aquí se encuentran los detalles: </p>
  <table>
        <thead>
            <th>Código de orden</th>
            <th>Nombre de la tienda</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Total del producto</th>
        </thead>
        <tbody>
            <% total = 0%>
                <% @orders.each do |order|%>
                
                <% total += (order.product.price * order.quantity)%>
                <tr>
                    <td><%= order.number %> |</td>
                     <td><%= order.product.store.name%> |</td>
                    <td><%= order.product.name %> |</td>
                    <td>US $<%= order.product.price%> |</td>
                    <td>  <%= order.quantity %> |</td>
                    <td>US $<%= (order.product.price*order.quantity) %> </td>
                </tr>
                  <% end %>
        </tbody>
    </table>
    <br>
    <strong><p>Total: US $<%= total%> </p></strong> 
  </body>
</html>