<%= form_with(model: comment, remote: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :rating, "Deja tu calificación aquí (1-5)" %>
    <%= form.text_area :rating %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, value:current_user.id %>
  </div>
  <div class="field">
    <%= form.hidden_field :storextra_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
