<div><%=notice%></div>
<h2 class="text-center">Inicio de sesión</h2>
<div class="form-group text-md-center">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field form-group">
        <%= f.check_box :remember_me %>
        <%= f.label 'Recuérdame' %>
      </div>
    <% end %>

    <div class="actions form-group ">
      <button type="submit" class="btn btn-success">Enviar</button>
    </div>
  <% end %>
</div>

<%= render "users/shared/links" %>
