<h2>Editando el perfil de tu tienda.. <%= resource_name.to_s.humanize %></h2>
<div class="form-group text-md-center">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "stores/shared/error_messages", resource: resource %>

    <div class="field form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", disabled: true %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
  <div class="field form-group">
      <%= f.label :name, "Nombre de la tienda" %><br />
      <%= f.text_field :name, class:"form-control col-md-4", :required => true  %>
    </div>
    <div class="field form-group">
      <%= f.label :address, "Dirección" %><br />
      <%= f.text_field :address, class:"form-control col-md-4", :required => true   %>
    </div>
    <div class="field form-group">
      <%= f.label :phone, "Teléfono" %><br />
      <%= f.text_field :phone, class:"form-control col-md-4", :required => true   %>
    </div>
    <div class="field form-group">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field form-group">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control col-md-4", :required => true  %>
    </div>

    <div class="actions form-group">
       <button type="submit" class="btn btn-success">Actualizar</button>
    </div>
  <% end %>

  <h3>Cancear mi cuenta</h3>

  <p>¿No estás feliz? <%= button_to "Cancelar mi cuenta :(", registration_path(resource_name), class: "btn btn-success", data: { confirm: "Are you sure?" }, method: :delete %></p>
</div>
<%= link_to "Back", :back %>
