
<div class="col-md-8">

    <section >
      <h1>Perfil: </h1>
      <h2><%= @user.name %> <%#=image_tag @user.avatar, style: 'height:100px; width:100px;' if @user.avatar.attached?%></h2>
      <%= avatar_for(current_user) %>
    </section>
  
  <%= link_to 'Inicio', root_path %>
</div>
<h3><%= link_to 'Carrito de compras', orders_path%> </h3>

<h3><b>Tiendas favoritas</b> <% @user.likes.each do |like| %> 
            <ul><li><%=link_to "#{like.storextra.store.name}", storextra_path(like.storextra_id)%> </li> </ul>
        <%end%>
</h3>
<div>
 <div class="card-body">
      <h2>Productos solicitados que no han sido entregados</h2>
        <%# @order.order_items.includes(:product).each do |item|%>
        <% @user.orders.each do |item|%>
        <div class="row">
        <div class="col-xs-2 col-md-2">
        <div class="card-img-top img-resposive"> <%=image_tag item.product.image, style: 'height:150px; width:150px;' %> </div>
        </div>
        <div class="col-xs-4 col-md-6">
            <h4 class="product-name"><strong><%=item.product.name%></strong> </h4>
            <h4><small><%= item.product.description%></small> </h4>
        </div>
        <div class="col-xs-6 col-md-4 row">
            <div class="col-xs-6 col-md-6 text-right" style="padding-top: 5px">
                <h6><strong><%= item.product.price%><span class="text-muted">x</span><%= item.quantity%></strong> </h6>
            </div>
            <div class="col-xs-2 col-md-2"></div>
        </div>
        </div>
        <hr>
        <%end%>
     
  </div>

  <div class="justify-content">
    <%= column_chart @chart_user, title: 'Ordenes de compra realizadas', download: {background: 'white'}%>
  </div>
  <div class="justify-content">
    <%= line_chart @chart2_user, title: 'Comentarios realizados', download: {background: 'white'}%>
  </div>
</div>