
<div class="col-md-8">

    <section >
      <h1>Perfil: </h1>
      <h2><%= @user.name %> <%=image_tag @user.avatar, style: 'height:100px; width:100px;'%></h2>
    
    </section>
  
  <%= link_to 'Inicio', root_path %>
</div>

<div>
 <div class="card-body">
      <h2>Productos solicitados que no han sido entregados</h2>
        <% @order.order_items.includes(:product).each do |item|%>
        <div class="row">
        <div class="col-xs-2 col-md-2">
        <img class="img-resposive" src="http://placehold.it/120x80" alt="preview">
        </div>
        <div class="col-xs-4 col-md-6">
            <h4 class="product-name"><strong><%=item.product.name%></strong> </h4>
            <h4><small><%= item.product.description%></small> </h4>
        </div>
        <div class="col-xs-6 col-md-4 row">
            <div class="col-xs-6 col-md-6 text-right" style="padding-top: 5px">
                <h6><strong><%= item.price%><span class="text-muted">x</span><%= item.quantity%></strong> </h6>
            </div>
            <div class="col-xs-2 col-md-2"></div>
        </div>
        </div>
        <hr>
        <%end%>
     
  </div>
</div>