<h1>Carrito</h1>

<% if @orders.length < 1 %>
    <h3>No hay productos en el carrito</h3>
<% else %>
    <table>
        <thead>
            <th>Foto</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Total del producto</th>
        </thead>
        <tbody>
            <% total = 0%>
            <% @orders.each do |order|%>
                <% total += (order.product.price * order.quantity)%>
                <tr>
                    <td><%=image_tag(order.product.image, size: '70x50')%> </td>
                    <td><%= order.product.name %> </td>
                    <td><%= number_to_currency(order.product.price, unit: "CLP$", precision: 0)%> </td>
                    <td>|  <%= order.quantity %> |</td>
                    <td><%= number_to_currency((order.product.price*order.quantity), unit: 'CLP$', precision: 0) %> </td>
                    <td><%= link_to 'Quitar', destroy_order_path(order.id), method: :delete%> </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <p>Total: <%= number_to_currency(total, unit: "CLP$", precision: 0)%> </p> 
    <p><%= link_to 'Vaciar carrito', clean_orders_path, method: :delete %> </p>
    <p><%= link_to 'Pagar', pre_pay_billings_path %> </p>
<%end%>