<p id="notice"><%= notice %></p>

<p>
  <strong>Link facebook:</strong>
  <%= @store_extra.link_facebook %>
</p>

<p>
  <strong>Link instagram:</strong>
  <%= @store_extra.link_instagram %>
</p>

<p>
  <strong>Link whatsapp:</strong>
  <%= @store_extra.link_whatsapp %>
</p>

<p>
  <strong>Link web:</strong>
  <%= @store_extra.link_web %>
</p>

<p>
  <strong>Horario open:</strong>
  <%= @store_extra.horario_open %>
</p>

<p>
  <strong>Horario closed:</strong>
  <%= @store_extra.horario_closed %>
</p>

<p>
  <strong>Description:</strong>
  <%= @store_extra.description %>
</p>

<p>
  <strong>Store:</strong>
  <%= @store_extra.store %>
</p>

<%= link_to 'Edit', edit_store_extra_path(@store_extra) %> |
<%= link_to 'Back', store_extras_path %>
