<% if user_signed_in? %>
 <table class="table table-hover">
    <thead>
      <tr>
        <th>Categoría</th>
      </tr>
    </thead>
    <tbody id="table-category">
      <% @categories.each do |category| %>
        <tr >
          <td class="table-active"><%= category.name %></td>
          <% if user_signed_in?%>
          <td><%= link_to 'Show', category %></td>
          <%end%>
          <% if admin_user_signed_in?%>
          <td><%= link_to 'Edit', edit_category_path(category) %></td>
          <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <%end%>
        </tr>
      <% end %>
    </tbody>
 </table>
<%end%>  
  <% if !user_signed_in? %>
    <% if  !store_signed_in? %>
      <div class="card text-white bg-success my-5 mx-5 px-5 text-center">
        <div class="card-header "></div>
        <div class="card-body">
          <h3 > Este es el lugar para encontrar la tienda que buscas o si tienes una tienda dejar que los clientes te encuentren</h3>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col text-center mt-5">
              <%= button_to 'Crear una cuenta de usuario', new_user_registration_path, class: "btn btn-success ", method: :get %>  
          </div>
           <div class="col text-center my-5">
             <%= button_to 'Crear una cuenta para tiendas', new_store_registration_path, class: "btn btn-success ", method: :get %> 
           </div>
        </div>
      
       
      </div>
        
    <%end%>
  <%end%>
  <br>
  <h1 class="text-center my-5"> ¡Aquí encontrarás las mejores tiendas!</h1>
  <% @storextras.each do |storextra| %>
    <div class="card text-white bg-dark mb-3 ml-5 text-center" style="max-width: 90vw;">
      <div class="card-header "><h3> <%= storextra.store.name %></h3></div>
      <div class="card-body">
        <%=image_tag storextra.avatar, style: 'height:300px; width:300px;', class:"card-img-top" if storextra.avatar.attached?%>
      </div>
       <div class="card-footer">
        <%storextra.rating_prom(storextra)%> 
        <%= storextra.rating %> &#11088;
      </div>
      <% if user_signed_in?%>
        <div class="card-footer">
          <%= link_to 'Show', storextra %>
        </div>
      <%end%>
    </div>
  <%end%>
  <% if admin_user_signed_in? || user_signed_in? || store_signed_in?%>
  <h3><%= link_to 'Todas las tiendas', storextras_path %></h3> <br>
  <%end%>
  <% if admin_user_signed_in?%>
    <%= link_to 'New Category', new_category_path %>
  <%end%>
</section>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <%= paginate @storextras %>
  </div>
</div>