<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>
<table class="table table-hover" >
  <thead>
    <tr>
      <th>Foto</th>
      <th>Nombre de la tienda</th>
      <th>Descripción</th>
    </tr>
  </thead>
  <tbody >
  <% @category.storextras.each do |storextra| %>
      <tr class="table-active">
        <td><%=image_tag storextra.avatar, style: 'height:150px; width:150px;' if storextra.avatar.attached? %></td> 
        <td><%= storextra.store.name %></td>
        <td><%= storextra.description %> </td>
        <% if user_signed_in?%>
          <td><%= link_to 'Show', storextra %></td>
        <%end%>
      </tr>    
  <%end%>
  </tbody>
</table>
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
