<%= form_with(model: storextra, local: true) do |form| %>
  <% if storextra.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(storextra.errors.count, "error") %> prohibited this storextra from being saved:</h2>

      <ul>
      <% storextra.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :horario_open %>
    <%= form.time_select :horario_open %>
  </div>

  <div class="field">
    <%= form.label :horario_close %>
    <%= form.time_select :horario_close %>
  </div>

  <div class="field">
    <%= form.label :link_facebook %>
    <%= form.text_field :link_facebook %>
  </div>

  <div class="field">
    <%= form.label :link_instagram %>
    <%= form.text_field :link_instagram %>
  </div>

  <div class="field">
    <%= form.label :link_whatsapp %>
    <%= form.text_field :link_whatsapp %>
  </div>

  <div class="field">
    <%= form.label :link_web %>
    <%= form.text_field :link_web %>
  </div>

  <div class="field">
    <%= form.label :store_id %>
    <%= form.text_field :store_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
