<tr>
        <td><%=image_tag storextra.avatar, style: 'height:150px; width:150px;' if storextra.avatar.attached?%></td>
        <td><%= storextra.description %></td>
        <td><%= storextra.horario_open %></td>
        <td><%= storextra.horario_close %></td>
        <td><%= storextra.link_facebook %></td>
        <td><%= storextra.link_instagram %></td>
        <td><%= storextra.link_whatsapp %></td>
        <td><%= storextra.link_web %></td>
        <td><%= storextra.store.name %></td>
        <% if user_signed_in?%>
          <td><%= link_to 'Show', storextra %></td>
        <%end%>
        <% if store_signed_in?%>
          <% if current_store.id == storextra.store_id%>
            <td><%= link_to 'Edit', edit_storextra_path(storextra) %></td>
          <%end%>
        <%end%>
</tr>    