<p id="notice"><%= notice %></p>

<h1>Storextras</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Horario open</th>
      <th>Horario close</th>
      <th>Link facebook</th>
      <th>Link instagram</th>
      <th>Link whatsapp</th>
      <th>Link web</th>
      <th>Store</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @storextras.each do |storextra| %>
      <tr>
    
        <td><%= storextra.description %></td>
        <td><%= storextra.horario_open %></td>
        <td><%= storextra.horario_close %></td>
        <td><%= storextra.link_facebook %></td>
        <td><%= storextra.link_instagram %></td>
        <td><%= storextra.link_whatsapp %></td>
        <td><%= storextra.link_web %></td>
        <td><%= storextra.store.name %></td>
        <td><%= link_to 'Show', storextra %></td>
        <td><%= link_to 'Edit', edit_storextra_path(storextra) %></td>
        <td><%= link_to 'Destroy', storextra, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    
  </tbody>
</table>

<br>
<% if storextra.id?%>
  <%= link_to 'Inicio', root_path %>
<% else %>
  <%= link_to 'New Storextra', new_storextra_path %>
<%end%>
<% end %>