<p id="notice"><%= notice %></p>

<h1>Storextras</h1>
<%# <div>
    <input type="text" id="q" placeholder="Busca tu tienda favorita">
</div> %>

<% @storextras.each do |storextra| %>
 
<table >
  <thead>
    <tr>
      <th>Nombre de la tienda</th>
      <th>Foto</th>
      <th>Descripcion</th>
      <th>Horario de apertura</th>
      <th>Horario de cierre</th>
      <th>Link facebook</th>
      <th>Link instagram</th>
      <th>Link whatsapp</th>
      <th>Link web</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody >
      <tr>
        <td><%= storextra.store.name %></td>
        <td><%=image_tag storextra.avatar, style: 'height:150px; width:150px;' if storextra.avatar.attached?%></td>
        <td><%= storextra.description %></td>
        <td><%= storextra.horario_open %></td>
        <td><%= storextra.horario_close %></td>
        <td><%= storextra.link_facebook %></td>
        <td><%= storextra.link_instagram %></td>
        <td><%= storextra.link_whatsapp %></td>
        <td><%= storextra.link_web %></td>
        <% if user_signed_in? || store_signed_in? %>
          <td><%= link_to 'Show', storextra %></td>
        <%end%>
        <% if store_signed_in?%>
       
          <% if current_store.id == storextra.store_id%>
            <td><%= link_to 'Edit', edit_storextra_path(storextra) %></td>
          <%end%>
        <%end%>
      </tr>    
  </tbody>
</table>
 
<%end%>
<br>

<%= link_to 'Inicio', root_path %>

 