<p id="notice"><%= notice %></p>
<p>
  <strong>Store:</strong>
  <%= @storextra.store.name %>
  <%=image_tag @storextra.avatar, style: 'height:150px; width:150px;' if @storextra.avatar.attached?%>
</p>

<p>
  <strong>Description:</strong>
  <%= @storextra.description %>
</p>
<p>
  <strong>Calificación:</strong>
  <%rating_prom= 0%>
  <%contador= 0%>
  <% @storextra.comments.each do |comment| %>
    <% rating_prom += comment.rating.to_i%>
    <%contador += 1%>
  <%end%>
  <%rating_prom = rating_prom / contador%>
  <%=rating_prom%> &#11088;
</p>


<p>
  <strong>Horario open:</strong>
  <%= @storextra.horario_open %>
</p>

<p>
  <strong>Horario close:</strong>
  <%= @storextra.horario_close %>
</p>

<p>
  <strong>Link facebook:</strong>
  <%= @storextra.link_facebook %>
</p>

<p>
  <strong>Link instagram:</strong>
  <%= @storextra.link_instagram %>
</p>

<p>
  <strong>Link whatsapp:</strong>
  <%= @storextra.link_whatsapp %>
</p>

<p>
  <strong>Link web:</strong>
  <%= @storextra.link_web %>
</p> <br>
<% if store_signed_in? %>
  <% if current_store.id == @storextra.store_id%>
    <h5><%= link_to 'New Product', new_product_path %></h5>
  <%end%>
<%end%>

<h2 class='text-center'>Productos</h2>
<div class="row">
  <div class="col-md-8 offset-2">
    <div class="container">
      <div class="row">
      <%if @products != nil%> 
        <% @products.each do |product|  %>
          <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" src="<%=image_tag product.image %>" alt="<%= product.name%>"/>
              <div class="card-block">
                <h5 class="card-title"><%= product.name %></h5>
                <div class="card-text">
                  <div class="badge badge-primary"></div>
                    <div>$<%= product.price %></div>
                </div>
                <div class="row float-right">
                  <div class="col-md-12">
                    <%= form_for :cart, url: cart_path, method: :put do |f| %>
                      <%= f.hidden_field :product_id, value: product.id %>
                      <%= f.hidden_field :quantity, value: 1 %>
                      <%= f.submit "Add to cart" %>
                    <% end %>
                    <button class="btn btn-primary btn-sm">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%end%> 
<br>

<% @storextra.comments.each do |comment|%>
  <p><%= comment.content %> </p>
  <p><% comment.rating.to_i.times do  %>
    	&#11088;
  <% end %>
  <% comment.blank_stars.times do  %>
  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
  </svg>
  <% end %></p>
  <p><%= comment.user.name %> </p>
  <p><% if user_signed_in? && comment.user_id == current_user.id%>
      <%= link_to ' Editar', edit_comment_path(comment) %>
      <%= link_to ' Borrar', comment, method: :delete, data: { confirm: 'Estás seguro?' } %></p>  
    <%end%>
<%end%>
<h3>Comentarios</h3>
<%= form_with(model: @comment, local: true) do |form| %>

  <div class="field">
    <%= form.label :content, "Deja tu comentario aquí!" %>
    <%= form.text_area :content %>
  </div>
   <div class="field">
    <%= form.label :rating, "Deja tu calificación aquí (1-5)" %>
    <%= form.text_area :rating %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, value:current_user.id %>
  </div>
  <div class="field">
    <%= form.hidden_field :storextra_id, value: @storextra.id %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>



<% if store_signed_in? && storextra.store_id == current_store.id%>
  <%= link_to 'Edit', edit_storextra_path(@storextra) %> <br>
  <%= link_to "Back", :back %> <br>
<%end%>

 <%= link_to 'Inicio', root_path %>
