<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @storextra.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @storextra.phone %>
</p>

<p>
  <strong>Description:</strong>
  <%= @storextra.description %>
</p>

<p>
  <strong>Horario open:</strong>
  <%= @storextra.horario_open %>
</p>

<p>
  <strong>Horario close:</strong>
  <%= @storextra.horario_close %>
</p>

<p>
  <strong>Link facebook:</strong>
  <%= @storextra.link_facebook %>
</p>

<p>
  <strong>Link instagram:</strong>
  <%= @storextra.link_instagram %>
</p>

<p>
  <strong>Link whatsapp:</strong>
  <%= @storextra.link_whatsapp %>
</p>

<p>
  <strong>Link web:</strong>
  <%= @storextra.link_web %>
</p>

<p>
  <strong>Store:</strong>
  <%= @storextra.store %>
</p>

<%= link_to 'Edit', edit_storextra_path(@storextra) %> |
<%= link_to 'Back', storextras_path %>
