<!DOCTYPE html>
<html>
  <head>
    <title>BuscaTiendas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      <div class="row">
        <aside class="col-md-4 ">
          <section class="user">
            <h3 class= "text-bold">Bienvenido <%= current_user.name%>!</h3><br>
            <%=image_tag current_user.avatar, style: 'height:150px; width:150px;' if current_user.avatar.attached?%><br>
            <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete %>
            <%= link_to 'Editar perfil', edit_user_registration_path %>
          </section>
        </aside>
        <hr>
        <br>
      <% else %>
        <%= link_to 'Crear cuenta', new_user_registration_path %> | 
        <%= link_to 'Iniciar sesión', new_user_session_path%>
        <br>
      <%end%>
      <br>
      <%= yield %>
    </div>
  </body>
</html>
