<!DOCTYPE html>
<html>
  <head>
    <title>BuscaTiendas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
      <a class="navbar-brand" href="<%=root_path%>">BuscaTiendas</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
        </ul>
        <span class="navbar-text">
          <% if user_signed_in? %>
            <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete %>
            <%= link_to 'Editar perfil', edit_user_registration_path %>
            <%= link_to 'Carrito de compras', orders_path%>
          <% elsif !store_signed_in? %>
           <%= link_to 'Crear cuenta para usuarios', new_user_registration_path %> | 
           <%= link_to 'Crear cuenta para tiendas', new_store_registration_path %> |
          <%= link_to 'Iniciar sesión Usuarios', new_user_session_path%> |
          <%= link_to 'Iniciar sesión para tiendas', new_store_session_path%>
          <% elsif store_signed_in? %>
           <%= link_to 'Editar perfil', edit_store_registration_path %>
            <%= link_to 'Cerrar sesión', destroy_store_session_path, method: :delete %>
          <% end %>
        </span>
      </div>
    </nav>
    <% if user_signed_in? %>
      <section class="user">
        <h3 class= "text-bold">Te damos la bienvenida: ¡<%= current_user.name%>!</h3><br>
        <%= avatar_for(current_user) %>
        <%#=image_tag current_user.avatar, style: 'height:150px; width:150px;' if current_user.avatar.attached?%><br>
        <strong> <%= link_to 'Perfil', user_path(current_user) %></strong>
      </section>
        <hr>
    <% elsif store_signed_in? %>
      <br>
     <h3 class= "text-bold">Te damos la bienvenida: ¡<%= current_store.name%>!</h3><br>
        <strong> <%= link_to 'Mi tienda', storextra_path(current_store) %></strong> |  <strong> <%= link_to 'Mi Perfil', store_path(current_store) %></strong>
      </section>
        <hr>
    <%end%>
      <br>
      <%= yield %>
    </div>
      <footer >
        <div class="footer" >
          <h5> Esto es un proyecto en mantenimiento, ningún producto ni tienda es real. Noviembre 2020. <span>-Nbakai-</span> </h5>
        </div>
    </footer>
  </body>
</html>
