
<h2>Editando tu perfil.. <%= resource_name.to_s.humanize %></h2>
<div class="form-group text-md-center">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, local: true ) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="field form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", disabled: true %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Esperando la confirmación: <%= resource.unconfirmed_email %></div>
    <% end %>
    <div class="field form-group">
      <%= f.label :avatar, 'Sube tu foto de perfil aquí' %> <br>
      <%= f.file_field :avatar, class:"form-control col-md-4" %> 
    </div>
    <div class="field form-group">
      <%= f.label :password %> <i>(Deja esto en blanco si no quieres cambiarlo)</i><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> caracteres mínimo</em>
      <% end %>
    </div>

    <div class="field form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
    <% if f.object.encrypted_password.present? %>
    <div class="field form-group ">
      <%= f.label :current_password %> <i>(Necesitamos tu contraseña actual para realizar los cambios de contraseña)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control col-md-4"  %>
    </div>
    <%end%>

    <div class="actions form-group ">
      <button type="submit" class="btn btn-success">Actualizar</button>
    </div>
  <% end %>
</div>
<h3 class="text-center">Cancel my account</h3>

<p class="text-center">¿No estás feliz con tu cuenta? <%= button_to "Cancelar mi cuenta :C", registration_path(resource_name), class: "btn btn-success form-control col-sm-4", data: { confirm: "¿En serio eliminarás tu cuenta?" }, method: :delete %></p>

<%= link_to "Back", :back %>

