<h2>Registro de usuario</h2>
<div class="form-group text-md-center">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="field form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control col-md-4", :required => true  %>
    </div>
    <div class="field form-group">
      <%= f.label :name, 'Nombre' %><br />
      <%= f.text_field :name, autocomplete: "Nombre", class:"form-control col-md-4", :required => true  %>
    </div>
    <div class="field form-group">
      <%= f.label :avatar, 'Sube tu foto de perfil aquí' %> <br>
      <%= f.file_field :avatar, class:"form-control col-md-4", :required => true %> 
    </div>
    <% if f.object.password_required? %>
    <div class="field form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> caracteres mínimo )</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class:"form-control col-md-4", :required => true %>
    </div>

    <div class="field form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control col-md-4", :required => true %>
    </div>
    <%end%>
    <div class="actions form-group">
      <button type="submit" class="btn btn-success">Enviar</button>
    </div>
  <% end %>
</div>
<%= render "users/shared/links" %>
